@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    background: #f2f2f2;
}
nav {
    background: #1b1b1b;
    width: 100%;
}

nav ul {
    list-style: none;
    position: relative;
    align-items: center;
}
nav ul li {
    display: inline-block;
    margin: 0 5px;
    color: #1b1b1b;
}
nav ul li a {
    color: white;
    text-decoration: none;
    line-height: 70px;
    text-align:  center;
    font-size: 16px;
    padding: 8px 15px;
    text-align: center;
}
nav ul li a:hover {
    color: white;
    text-decoration: none;
    line-height: 70px;
    font-size: 16px;
    padding: 8px 15px;
    text-align: center;
}
nav a {
    color: white;
    text-decoration: none;
    line-height: 70px;
    font-size: 16px;
    padding: 8px 15px;
    text-align: center;
}

#id{
    z-index:2;
}
.clickable:hover {
    border-radius: 5px;
    border: 1px solid #33ffff;
    color: white;
    cursor: pointer;
}
nav ul ul {
    position: absolute;
    top: 70px;
    opacity: 0;
    visibility: hidden;
}

nav ul ul li {
    background-color: #1b1b1b;
    position: relative;
    margin: 0px;
    width: 200px;
    float: none;
    display: list-item;
    border-bottom: 1px solid;
}


